<p>{{ (hasToken$ | async) ? "✔️ token fetched" : "❌ token missing" }}</p>

<div *ngIf="hasToken$ | async; else unauthenticated">
  <button (click)="logout()">Logout</button>

  <p>
    {{
      (isAuthenticated$ | async)
        ? "✔️ authentication complete"
        : "❌ authentication incomplete"
    }}
  </p>

  <div>
    <select name="membre" [(ngModel)]="userId" (change)="selectMember()">
      <option [ngValue]="defaultMember.id">
        -- Déclinez votre identité --
      </option>
      <option *ngFor="let membre of membres$ | async" [ngValue]="membre.id">
        {{ membre.Nom }}
      </option>
    </select>
  </div>
</div>

<ng-template #unauthenticated>
  <input id="email" [(ngModel)]="credentials.email" placeholder="username" />
  <input
    type="password"
    [(ngModel)]="credentials.password"
    placeholder="password"
  />
  <button (click)="login()">Login</button>
</ng-template>
